 {% extends 'myapp/base.html'%} {% load static %} {% block content %}

 <section>
<div>
    <div class="mt-5 ">
        <div class="text-center">
            <img class="border-5px" src="{% static 'myapp/images/pixel.jpg'%}" alt="profile" class="img-thambnail" width="300px" height="200px">

        </div>
        <div>
            <div class="text-white mx-5 text-justify">
                <h1 class="font-weight-bold hello">Hello,</h1>
                <div class="px-4 style= line-height:2rem;">
                    <div>
                        <p style="text-indent: 100px;">My name is <b class="text-warning ">Ankita</b> .I am <b class="text-yellow">Django developer</b>. I have 1 years experience in Full-Stack Web Developement. I am Seeking for Good position <b class="text-primary ">IT Industry.</b>                            I did my computer engineering from M.I.E.T Bhandara. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="{% url 'contact'%}" class="btn btn-outline-warning my-3 mr-5">Hire me</a>
            <a href="{% url 'contact'%}" class="btn btn-outline-primary my-3 mr-5">Resume</a>



        </div>
    </div>
</div>

 </section>

 <section>
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SKILLS</h1>
    <div class="row text-center text-white mb-5">
        <div class="row text-white">
            <div class="col-sm-5">
                <h3 class="mt-5">HTML/CSS</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped  progress-bar-animated " role="progressbar" style="width:90%" aria valuenow="100" aria-valuemin="0" aria-valuemax="100">90%</div>

                </div>
            </div>
            <div class="col-sm-5">
                <h3 class="mt-5">JAVASCRIPT</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped  progress-bar-animated " role="progressbar" style="width:70%" aria valuenow="100" aria-valuemin="0" aria-valuemax="100">95%</div>

                </div>
            </div>
            <div class="col-sm-5">
                <h3 class="mt-5">PYTHON</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped  progress-bar-animated " role=" progressbar " style="width:75% " aria valuenow="100 " aria-valuemin="0 " aria-valuemax="100 ">75%</div>

                </div>
            </div>
            <div class="col-sm-5 " offset-sm-2>
                <h3 class="mt-5 ">DJANGO</h3>
                <div class="progress ">
                    <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar " style="width:80% " aria valuenow="100 " aria-valuemin="0 " aria-valuemax="100 ">80%</div>

                </div>
            </div>

            <div class="col-sm-5 " offset-sm-2>
                <h3 class="mt-5 ">MYSQL</h3>
                <div class="progress ">
                    <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar " style="width:82% " aria valuenow="100 " aria-valuemin="0 " aria-valuemax="100 ">82%</div>

                </div>
            </div>

            <div class="col-sm-5 " offset-sm-2>
                <h3 class="mt-5 ">DATA STRUCTURE</h3>
                <div class="progress ">
                    <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar " style="width:90% " aria valuenow="100 " aria-valuemin="0 " aria-valuemax="100 ">90%</div>

                </div>
            </div>
            <div class="col-sm-5 " offset-sm-2>
                <h3 class="mt-5 ">JQUERY</h3>
                <div class="progress ">
                    <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar " style="width:82% " aria valuenow="100 " aria-valuemin="0 " aria-valuemax="100 ">82%</div>

                </div>
            </div>

            <div class="col-sm-5 " offset-sm-2>
                <h3 class="mt-5 ">C/C++</h3>
                <div class="progress ">
                    <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar " style="width: 95% " aria valuenow="100 " aria-valuemin="0 " aria-valuemax="100 ">95%</div>

                </div>
            </div>
        </div>
    </div>



 </section>


 <section>

     <div class="containter mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
    <div class="row text-center text-white mb-5">

        <div class="col-sm-4">
            <i class="fas fa-search-dollar fa-2x mb-3 i-colo "></i>

            <h3>SEO</h3>
            <p>doller money</p>
        </div>

        <div class="col-sm-4">
            <i class="fas fa-palette fa-2x mb-3 i-colo"></i>

            <h3>Web Design</h3>
            <p>All types of web designing.</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-code fa-2x mb-3 i-colo"></i>

            <h3>Web development </h3>
            <div class="aa">
                <p class="ss-color"> Front end developements and backend developements</p>
            </div>
        </div>
    </div>




    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <div class="i-colo">
                <fa-2x class="fas fa-paint-brush fa-2x mb-3 i-colo">
                    </i>
            </div>
            <h3>Graphics Design</h3>


            <p> Graphic design combines art and technology to communicate ideas</p>
        </div>

        <div class="col-sm-4">
            <i class="fas fa-ad fa-2x mb-3 i-colo"></i>

            <h3>Advertisement</h3>
            <p> Advertisements are a guaranteed method of reaching an audience.</p>
        </div>

        <div class="col-sm-4">
            <i class="fas fa-laptop-code fa-2x mb-3 i-colo"></i>

            <h3>Coding</h3>
            <p> Learn Many Languages</p>
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fas fa-pencil-alt fa-2x mb-3 i-colo"></i>

            <h3>Logo Design</h3>
            <p>Logo Design work</p>
        </div>

        <div class="col-sm-4">
            <i class="fas fa-database fa-2x mb-3 i-colo"></i>

            <h3>Hosting </h3>
            <p> Hosting on Differents Platform</p>
        </div>

        <div class="col-sm-4">
            <i class="fas fa-blog fa-2x mb-3 i-colo"></i>

            <h3>Blog</h3>
            <p class="ss-color"> we write types of Blog</p>
        </div>
    </div>
</div>


 </section>


 <section>
     <div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">CONTACT US</h1>
    <div class="row text-center text-white mb-5">
        <p class="mx-auto mb-5">
            Do you have questions? Please do not hesitate to Contact. I will come back to you within matter of hours to help you.

        </p>
        <div class="col-sm-9 mb-5">
            <form method="post" action="/contact">
                {% csrf_token %}

                <div class="form-row">
                    <div class="form-group col-md-6">

                        <label for="inputName">Your_Name</label>
                        <input type="text" name="Name" class="form-control" id="inputName" />

                    </div>

                    <div class=" form-group col-md-6 ">

                        <label for="inputName "> Your_Email*</label>
                        <input type="email" name="Email" class="form-control" id="inputName" required/>
                    </div>

                </div>
                <div class=" form-group ">

                    <label for="inputSubject ">Your_Subject</label>
                    <input type="text" name="Subject" class="form-control" id="inputSubject" />
                </div>

                <div class=" mb-3">
                    <label for="inputSubject ">Your_Message *</label>
                    <textarea class="form-control" name="Message"   id="inputTextarea" required></textarea>
                </div>

                <button class="btn btn-primary" type="submit">Send</button>

            </form>
        </div>

        <div class="col-sm-3 text-center">
            <ul class="list-unstyled">
                <li>
                    <i class="fas fa-map-marker-alt fa-2x i-colo"></i>
                    <p>India</p>
                </li>

                <li>
                    <i class="fas fa-phone mt-4 fa-2x i-colo"></i>
                    <p>9033333333</p>
                </li>

                <li>
                    <i class="fas fa-envelope mt-4 fa-2x i-colo"></i>
                    <p>ghardeankita6@gmail.com</p>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="text-center">
    <a href="#" target="_blank">
        <i class="fab fa-twitter i-colo mr-3"></i>
    </a>

    <a href="#" target="_blank">
        <i class="fab fa-facebook i-colo mr-3"></i>
    </a>

    <a href="#" target="_blank">
        <i class="fab fa-instagram i-colo mr-3"></i>
    </a>
    <a href="#" target="_blank">
        <i class="fab fa-dribbble i-colo mr-3"></i>
    </a>
</div>

 </section>
{% endblock content %}