{% extends 'myapp/base.html'%} {% load static %} {% block content %}


<div class="containter mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
    <div class="row text-center text-white mb-5">

        <div class="col-sm-4">
            <i class="fas fa-search-dollar fa-2x mb-3 i-colo "></i>

            <h3>SEO</h3>
            <p>doller money</p>
        </div>

        <div class="col-sm-4">
            <i class="fas fa-palette fa-2x mb-3 i-colo"></i>

            <h3>Web Design</h3>
            <p>All types of web designing.</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-code fa-2x mb-3 i-colo"></i>

            <h3>Web development </h3>
            <div class="aa">
                <p class="ss-color"> Front end developements and backend developements</p>
            </div>
        </div>
    </div>




    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <div class="i-colo">
                <fa-2x class="fas fa-paint-brush fa-2x mb-3 i-colo">
                    </i>
            </div>
            <h3>Graphics Design</h3>
            <p> Graphic design combines art and technology to communicate ideas</p>
        </div>

        <div class="col-sm-4">
            <i class="fas fa-ad fa-2x mb-3 i-colo"></i>

            <h3>Advertisement</h3>
            <p> Advertisements are a guaranteed method of reaching an audience.</p>
        </div>

        <div class="col-sm-4">
            <i class="fas fa-laptop-code fa-2x mb-3 i-colo"></i>

            <h3>Coding</h3>
            <p> Learn Many Languages</p>
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fas fa-pencil-alt fa-2x mb-3 i-colo"></i>

            <h3>Logo Design</h3>
            <p>Logo Design work</p>
        </div>

        <div class="col-sm-4">
            <i class="fas fa-database fa-2x mb-3 i-colo"></i>

            <h3>Hosting </h3>
            <p> Hosting on Differents Platform</p>
        </div>

        <div class="col-sm-4">
            <i class="fas fa-blog fa-2x mb-3 i-colo"></i>

            <h3>Blog</h3>
            <p class="ss-color"> we write types of Blog</p>
        </div>
    </div>
</div>




{% endblock content %}